@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;900&display=swap');
.page {
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.registration-form {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #314363;
  margin-top: 40px;
  border-radius: 10px;
  display: flex;
  background-color: #ffff;
  flex-direction: column;
  gap: 30px;

}

.form-heading {
  font-family: Montserrat;
  font-weight: 700;
  color: #314363;
  text-align: center;
  font-size: 40px;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.form-row-double{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.form-group {
  text-align: left;

}

.label {
  color: #263857;
  display: block;
  margin-bottom: 5px;
}

.input {
border: none;
  padding: 8px;
  border-radius: 16px;
  background-color: #F8FBFF;
  font-family: inherit;
  height: 56px;
}

textarea {

  padding: 8px;
  border: 1px solid #263857;
  border-radius: 5px;
  background-color: #e9f2ff;
  font-family: inherit;
}
